.maxwidth{
    max-width: 60rem; 
    margin:auto;
}

div.m-auto{
  margin:auto;
}

@media (min-width: 987px){
  div.ml-lg-2{
    margin-left: 8rem!important;

  }
div.tr-lg-2{
    transform: translateY(2.3rem);

  }
}
@media all and (min-width: 988px) {
  .header{
 margin:0.45rem auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  }

  .headerchildsection a{
    margin:auto 1rem;
  }
}

@media (max-width: 987px) {
  
.gelatoImg{
  max-width: 20rem;
  margin:auto
}
  .header{
    margin:0.5rem auto;
  
  }
  .headerchildsection a{
    margin:1rem auto;
  }

  .headerchildsection a:last-child{
    margin-bottom: 2rem;

  }

  .logo-menu{
    position:relative;
  }


.header span{
  cursor: pointer;
}

.headerchildsection{
  display:flex; 
  flex-direction:column; 
  justify-content: center; 
  align-items: center;
}

.hamburger{
  position: absolute;
  top:33%;
  width:2.4rem;
  background: #8b0a8b;
  right:1rem;

}

.hamburger, .hamburger::after, .hamburger::before{
  height:0.23rem;
}

.hamburger::after, .hamburger::before{
  position: absolute;
}


.hamburger:after{
  width:2rem;
  content: "";
  top:0.65rem;
  right: 0rem;
  background: #e45ae4;
}

.hamburger::before{
  width:1.64rem;
  top:1.4rem;
  content: "";
  right:0rem;
  background: hotpink;
}

.children{
margin-top: 2rem;
display: none;
text-align: center;
transform: translateX(-999px);
justify-content: center;
}

  
}

.show{
  display: flex;
transform: translateX(0px);
}

.GlobalData{

}

.navbar{
  max-width: 60rem;
  margin: auto;
}

.red-gradient-bg{
  background: #EF3B36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left,  #EF3B36, rgb(228 106 101)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}



.gelatoImg {
  height: auto;
    -webkit-animation: move 2s infinite  alternate;
    animation: move 2s infinite  alternate;
}
@-webkit-keyframes move {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes move {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}



.line{
  position: relative;
  margin-bottom: 2rem!important;
}


.line::before{
  position: absolute;
  content: "";
  background: hotpink;
  width: 30%;
  height: 0.31rem;
  bottom: -0.3rem;
}


.icecreamlinks img{
  max-width: 5rem;
  height: auto;
  margin:0.3rem auto;
}
.socios img:hover{
  transition: transform 200ms ease-in;
  transform:scale(1.2);
  opacity: 0.7;

}
.expand-1 img:hover{
  transition: transform 200ms ease-in;
  transform:scale(1.1);
  opacity: 0.7;

}
.socios img{ 
  width: 3rem;
  margin:auto .28rem;
}

.creamlogo img{
  max-width: 10rem;
}

#typewriter{
  font-family: 'Cascadia Code', sans-serif;
  font-size:2.4rem;
  font-weight:600;
}

.sub-title{
  font-family: 'Plus Jakarta Display', sans-serif;
}


/*Mobile Query*/
@media only screen and (max-width:480px) {
  .socios, .icecreamlinks, .icelinks{
  text-align: center;
  border:"2px solid green";
}

}


a:hover{
  color: #a92595!important;
}
.myBtn {
  position: relative;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform-origin: right;
  transform-origin: right;
  z-index: 1;
}

.myBtn:hover{
  color:whitesmoke!important;
}

.myBtn:after {
  z-index: -1;
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  content: '';
  height: 100%;
  background: #ed213a;
  /* fallback for old browsers */
  background:"#8B0A8B";
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#93291e), to(#f15b43));
  background-image: linear-gradient(to right top, #8b0a8b, #a92595, #c73c9f, #e352aa, #ff69b4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.myBtn:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}



.moving-custom-bg { 
    position: 100% 0px;
    -webkit-animation: moveToLeft 10s linear infinite;
    animation: moveToLeft 10s linear infinite;
}

@-webkit-keyframes moveToLeft {
    from {position: 100% 0px;}
    to {position: 0% 0px;}
}

@keyframes moveToLeft {
    from {position: 100% 0px;}
    to {position: 0% 0px;}
}




.slideshow {
height: 7rem;	
overflow: hidden;
position: relative;
display:flex;
flex-wrap: nowrap;
justify-content: center;
text-align: center;
align-items: center;
margin:1.4rem auto;

}

.group{
  width:100%;
	list-style: none;
	display: flex;
	
}

.group li {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display:flex;
    width: 4rem;
    height: 4rem;
    text-align: center;

    /* Starting position */
       -moz-transform:translateX(100%);
       -webkit-transform:translateX(100%);	
       transform:translateX(100%);

 /* Apply animation to this element */	
       -moz-animation: slider 15s linear infinite;
       -webkit-animation: slider 15s linear infinite;
       animation: slider 8s linear infinite;
}

/* Move it (define the animation) */
      @-moz-keyframes slider {
       0%   { -moz-transform: translateX(100%); }
       100% { -moz-transform: translateX(-100%); }
      }
      @-webkit-keyframes slider {
       0%   { -webkit-transform: translateX(100%); }
       100% { -webkit-transform: translateX(-100%); }
      }
      @keyframes slider {
       0%   { 
       -moz-transform: translateX(100%); /* Firefox bug fix */
       -webkit-transform: translateX(100%); /* Firefox bug fix */
       transform: translateX(100%); 		
       }
       100% { 
       -moz-transform: translateX(-100%); /* Firefox bug fix */
       -webkit-transform: translateX(-100%); /* Firefox bug fix */
       transform: translateX(-100%); 
       }
      }



